* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
}

main {
  background-color: olive;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 50px;
}

.container {
  display: flex;
  background-color: #fff;
  width: 70%;
  height: 50px;
  border-radius: 15px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}