#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.game {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
    width: 40vw;
    height: 30vw;
}

.game-board {
  width: 50%;
  height: 80%;
}

.square {
  border: 1px solid white;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  min-width: 70px;
  min-height: 70px;
}

.status {
  font-size: 2em;
    font-weight: 700;
    margin-bottom: 30px;
}