* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0B2434;
  padding: 25px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Karla", sans-serif;
}

div#root {
  height: 100%;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
}

button {
  cursor: pointer;
  font-family: "Karla", sans-serif;
}

.game-board {
  background-color: #F5F5F5;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title {
    font-size: 40px;
    margin: 0;
}

.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.dice-container button {
  height: 50px;
  width: 50px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 1.5rem;
}

button.roll-dice {
  font-size: 1.2rem;
  font-weight: 700;
  white-space: nowrap;
  width: auto;
  padding: 6px 21px;
  background-color: #5035FF;
  color: #fff;
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.18);
  height: 50px;
}

button.roll-dice:focus {
  outline: 2px solid #000;
}

button.held {
  background-color: #59E391;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}